<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crTech.prakashmarble">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrakashMarble"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".ui.Activity.ui.User.ForgotPassActivity"></activity>
        <activity android:name=".ui.Activity.ui.User.RegisterActivity" />
        <activity android:name=".ui.Activity.ui.User.LoginActivity" />
        <activity
            android:name=".ui.Activity.ui.User.DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/Theme.PrakashMarble.NoActionBar" />
        <activity
            android:name=".ui.Activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>